body {
    margin: 0px;
    background-color: white;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: white;
    align-items: center;
}
img {
    width: 50px;
    justify-content: center;
}

div{
    display: flex;
    align-items: center;
}
nav {
    justify-content: flex-end;
}
nav a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #333;
}

@media(max-width: 700px){
    nav{
        display: none;
    }
}